<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOMEPAGE</title>
    <link rel="stylesheet" type="text/css" href="public/css/style3.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap" rel="stylesheet">
    
</head>
<body>
    <div class="main_content">
        <div class="nav_bar">
            <img id="logoMoblie" src="public/img/mobileLogo.svg">
            <a href="login" class="menu_element">
                <img src="public/img/home.svg">
                <div>HOME</div>
            </a>
            <a href="categories" class="menu_element">
                <img src="public/img/category.svg">
                <div>CATEGORIES</div>
            </a>
            <a href="to_read" class="menu_element">
                <img src="public/img/to_read2.svg">
                <div>TO-READ</div></a>
            <a href="me" class="menu_element">
                <img src="public/img/me.svg">
                <div>ME</div>
            </a>
            <a href="login" id="logoutButton" class="menu_element">
                <img src="public/img/logout.svg">
                <div class="logout">LOG OUT</div>
            </a>
        </div>
        
        <div class="right_side">
            <div class="search_bar">
                <form action="">
                    <label><img src="public/img/search.svg"></label>
                    <input type="text" id="search" name="sth_search" placeholder="Search">
                </form>
            </div>
            <div class="content">fff</div>
        </div>
    </div>
</body>
</html>