<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOMEPAGE</title>
    <link rel="stylesheet" type="text/css" href="public/css/style2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap" rel="stylesheet">
    
</head>
<body>
    <div class="main_content">
        <div class="nav_bar">sss</div>
        <div class="right_side">
            <div class="search_bar">ddd</div>
            <div class="content">fff</div>
        </div>
    </div>
</body>
</html>