body {
    background-color: #EBF3E8;
    margin: 0;
    padding: 0;
    font-family: 'Yeseva One', serif;
    font-size: 14px;
}

.over-conteriner {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: white;
    width: 80vw;
    height: 85vh;
    margin: 0;
    padding: 0;
}

.logo {
    width: 100%;
    height: 30%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logoMoblie {
    display: none;
}

.login-container {
    width: 100%;
    height: 70%;
}

.login-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

.login-container button {
    background: #558F6B;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    color: white;
    font-family: 'Yeseva One', serif;
    border: none;
    line-height: 1.8em;
    width: 27%;
    font-size: 2.6em;
    margin: 1.6em 0 0 0;
    padding: 0;
    letter-spacing: 0.05em;

}

.login-container input {
    background-color: transparent;
    border: 0.1em solid #A49CA1 ;
    border-radius: 1em;
    padding: 1em;
    margin: 1em 0;
    width: 23%;
}

.add-info {
    color: #558F6B;
    text-decoration: none;
    margin-top: 2em;
    padding: 0;

}
a:visited { text-decoration: none; color:#558F6B; }
a:hover { text-decoration: none; color:#558F6B; }
a:focus { text-decoration: none; color:#558F6B; }
a:hover, a:active { text-decoration: none; color:#558F6B }

@media only screen and (max-device-width: 430px){
    .over-conteriner {
        background-color: white;
    }

    .container {
        width: 90vw;
    }
    .logo {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #logoDesktop {
        display: none;
    }

    #logoMoblie {
        display: inline;
    }

    .logo img {
        scale: 100%;
    }

    .login-container form {
        margin: 0;
    }

    .login-container input {
        width: 60%;
        margin-top: 2em;
    }

    .login-container button {
        width: 70%;
        line-height: 1.5em;
    }

    .add-info {
        margin-top: 3em;
    }
}